#navbar {
    position: sticky;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 32px 32px 12px 32px;;
    background: #fff;
}

#search-bar {
    outline: none;
    width: 620px;
    flex-grow: 1;
    border-radius: 16px;
    border: none;
    min-height: 2.5rem;
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    padding: 4px 16px 8px 16px;
    box-shadow: 0px 1px 2px 1px darkgray;
}

#navbar-actions {
    flex-grow: 1;
    text-align: right;
}

#logo {
    margin-right: 32px;
}

i + i {
    margin-left: 24px;
}

#account-initial {
    border: 10px solid maroon;
    border-radius: 75%;
    background-color: maroon;
    color: white;
    font-weight: 600;
    font-family: "Courier New";
    margin: 0px 0px 0px 24px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    display: inline-flex;
}

li {
    font-family:'Arial';
    font-weight: 200;
}

li:hover {
    text-decoration: underline solid 3px;
    text-decoration-color: blue;
    text-underline-offset: 16px;
}

li + li {
    margin-left: 24px;
    font-weight: 300;
}

.action-icon {
    margin-right: 5px;
}

#sub-navbar-actions {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 600px;
    margin: 8px 0px 0px 204px;
}

#sub-navbar-actions > span {
    font-family: 'Arial';
}

#main-content-container {
    padding: 0px 0px 0px 204px;
    width: 620px;
}

span.webpage-title {
    font-size: 1.5rem;
    color: rgb(43, 43, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.url-header {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    justify-content: space-between;
    margin: 0px 0px 8px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.url-header > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 340px;
    font-family: Arial, Helvetica, sans-serif;
}

p.webpage-description {
    font-family: Arial;
    color: dimgray;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.search-suggestion {
    width: 620px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 16px 0px;
    border-bottom: 2px solid gainsboro;
}

.search-suggestion > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}