:root {
    --font: "Fira Sans";
    --fontSansSerif: "sans-serif";
    --sectionHeaderFontSize: 40px;
    --sectionHeaderFontWeight: 900;
    --sectionHeaderFontColor: #1d123c;
    --subtextFontSize: 18px;
    --latestUpdateBackgroundColor: #f9f9f9;
    --subtextColor: rgba(37,56,88, 0.8);
    --wireframingSectionColor: #f2f6fa;
    --gradientBtnBackground: linear-gradient(to right,#11b9ec,#7c64e6);
    --heroBlue: #00abe9;
    --heroPink: #f845c6;
    --heroPurple: #7c64e6;
    --linkButtonTextColor: #095aff;
}

body {
    margin: 0 0 0 0;
}

.hero-heading {
    font-family: var(--font);
    font-weight: bolder;
    color: #000;
    text-align: left;
    font-size: 55px;
    
}

#nav-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

#nav-bar > ul {
    list-style-type: none;
    padding-inline-start: 0px;
    display: inline-flex;
}

#nav-bar > ul > li:not(:last-child) {
    margin: 0 48px 0 0;
}

#nav-bar > ul > li {
    font-family: var(--font);
    font-size: 18px;
}

.navbar-buttons {
    display: flex; 
    flex-flow: row nowrap;
    align-items: center;
}

.navbar-buttons > p {
    font-size: 18px;
    font-family: var(--font);
    margin-right: 16px;
}

.navbar-buttons > a {
    background: var(--gradientBtnBackground);
    color: white;
    font-family: var(--font);
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    cursor: pointer;
}


#wireframing {    
    position: relative;
    cursor: pointer;
}

#wireframing::after {
    width: 0%;
    display: block;
    position: absolute;    
    background-color: #2261f6;
    height: 4px;
    content: "";
    transition: width .3s ease-in;
}

#wireframing:hover::after {
    width: 100%;
    transition: width .3s ease-in;
}

#product-design {
    cursor: pointer;
}

#product-design::after {
    width: 0%;
    display: block;
    content: "";
    height: 4px;
    background-color: #7956ff;
    transition: width .3s ease-in;
}

#product-design:hover::after {
    transition: width .4s ease-in;
    width: 100%;
}

#pricing {
    cursor: pointer;
}

#pricing::after {
    width: 0%;
    display: block;
    content: "";
    height: 4px;
    background-color: #f845c5;
    transition: width .6s ease-in;
}

#pricing:hover::after {
    transition: width .6s ease-in;
    width: 100%;
}

#hero-left-pane {
    float: left; 
    padding: 36px;
    margin: 80px 0 0 0;   
}

#hero-left-pane > h1 {
    width: 540px;
}

#hero-right-pane {
    float: right;
    margin: 60px 0 0 0;
}

#hero-section > div {
    padding: 32px;
    width: fit-content;
}


#multi-text {
    position: relative;
}

#multi-text::after {
    content: "UI";
    position: absolute;
    left: 12px;
    -webkit-animation-name: "fading-in", "animate-hero-text";
    -webkit-animation-duration: 2s, 9.5s;
    -webkit-animation-delay: 0s, 2s;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear, linear;
    transition: color 0s;
}

@-webkit-keyframes fading-in {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    70% {
        transform: translateY(0px);
    }
    to {
        opacity: 1;
    }
}


@-webkit-keyframes animate-hero-text {
    from {
        content: "UI";
        color: var(--heroPurple);
    }
    25% {
        content: "Software";
        color: var(--heroBlue);
    }
    50% {
        content: "Apps";
        color: var(--heroPink);
    }
    75% {
        content: "Products";
        color: var(--heroBlue);
    }
    100% {
        content: "Websites";
        color: var(--heroPink);
    }
}


.sub-section-text {
    font-family: var(--font);
    max-width: 640px;
    font-size: 22px;
    text-align: left;
    line-height: 1.33;
    font-weight: 200;
    letter-spacing: -0.5px;
    color: var(--subtextColor);
}

.get-started-btn {
    margin: 8px 0 0 0;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    background: var(--gradientBtnBackground);
    font-size: 1.1rem;
    font-family: "Fira Sans";
}

#hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#wireframing-container {
    padding: 36px 36px 72px 36px;
    display: grid;
    margin: 0 15% 0 15%;
    background: var(--wireframingSectionColor);
    grid-template-columns: repeat(1fr, 2fr);    
}

#wireframing-wrapper {
    background: var(--wireframingSectionColor);
}

.section-header {
    font-family: var(--font);
    font-size: var(--sectionHeaderFontSize);
    font-weight: bolder;
    line-height: 1.1;
}

.section-subtext {
    font-family: var(--font);
    font-size: var(--subtextFontSize);
    line-height: 32px;
}

#wireframing-subgrid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#wireframing-pane-1 {
    grid-column-start: 1;
}

#wireframing-subgrid {
    margin: 84px 0 0 48px;
    grid-column-start: 2;
    display: grid;
    gap: 20px 20px;
}

.wireframe-cards {
    padding: 24px 24px 12px 24px;
    font-family: var(--font);
    max-width: 280px;
    font-weight: lighter;
    z-index: 1;
}

.wireframe-cards > p {
    color: rgba(37,56,88, 0.5);
    line-height: 1.75em;
}

.white-box-shadow {
    background: white;
    box-shadow: 0px 4px 14px 0px black;
    position: relative;
}

.white-box-shadow::before {
    background: repeating-linear-gradient(135deg, white, black 10px);
    width: 280px;
    content: "";
    z-index: 0;
    opacity: 0.1;
    height: 140px;
    position: absolute;
    left: -50px;
    top: -60px;
}

.wireframe-cards > h4 {
    font-size: var(--subtextFontSize);
}

.explore-btn {
    width: 180px;
    padding: 12px 16px 12px 16px;
    background: white;
    color: var(--linkButtonTextColor);
    border: none;
    border-radius: 16px;
    box-shadow: 0 1px 2px 0 black;
    font-family: var(--font);
    font-weight: bolder;
    font-size: 0.9em;
}

#product-design-wrapper {
    background: linear-gradient(112deg, #FFDEE9 0%, #B5FFFC 100%);
}

#product-design-container {
    margin: 0 15% 0 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 0px;
    padding: 64px 36px 36px 36px;
} 

#wireframe-subtext {
    max-width: 360px;
}

#product-design-subtext {
    max-width: 480px;
    margin: 0 0 36px 0;
}

#explore-product-design-btn {
    color: var(--heroPurple);
}

#product-design-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 36px 0;
}

#product-design-list > li {
    display: inline-flex;
}

#product-design-list > li:not(:last-child) {
    margin: 0 64px 0 0;
}

.product-list-element-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-family: var(--font);
    font-size: 1.25em;
}   

#space-sample-product-design {
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 0 black;
}

#ideate-wrapper {
    background: white;
}

#ideate-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#ideate-subtext {
    font-family: var(--font);
    font-size: var(--subtextFontSize);
    font-weight: 100;
    color: var(--subtextColor);
    margin: 0 0 36px 0;
}

#ideate-heading {
    position: relative;
    font-family: var(--font);
    font-size: var(--sectionHeaderFontSize);
    margin: 80px 0 40px 0;
    font-weight: bold;
}

/* #ideate-heading::after {
    
    content: "test";
    background: url("./assets/integrateIcon.png");
} */


#ideate-container {
    margin: 0 15% 0 15%;
}

#software-list-container {
    text-align: center;
    width: 80%;
    margin: 0 auto 20px auto;
}

#software-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;
    padding-inline-start: 0px;
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    transform: scale(0.9);
    line-height: 5em;
}

#software-list > li:not(:last-child) {
    margin-right: 64px;
}

#software-list > li:nth-child(n+6) {
    margin-right: 10px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

#software-list > li:nth-child(5) {
    transform: translateY(6px);
}

#latest-update-container {
    margin: 0 15% 0 15%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 36px;
}

#latest-update-wrapper {
    background: var(--latestUpdateBackgroundColor);
    padding: 36px;
}

#latest-update-heading {
    margin: 48px 0 40px 0;
}

#update-item-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.update-item {
    background: white;
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.update-item > img {
    display: block;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}


.item-title {
    font-size: 1.5em;
    font-family: var(--font);
    max-width: 80%;
    line-height: 1.25;
    text-align: center;
    display: inline-block;
    margin: 32px 0 8px 0;
}

.item-subtext {
    text-align: center;
    font-family: var(--font);
    line-height: 1.4;
    max-width: fit-content;
    padding: 0 32px 32px 32px;
    color: var(--subtextColor);
}

#update-item-container > div:not(:last-child) {
    margin: 0 48px 0 0;
}

#footer-container {
    margin: 0 15% 0 15%;
    display: flex;
}

#footer-logo-container {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#footer-logo-container > img {
    height: 15%;
    margin: 64px 0 32px 0;
}

#footer-logo-container > p {
    font-family: var(--font);
    color: var(--subtextColor);
    font-size: 0.75em;
}

#footer-icon-list {
    padding-inline-start: 0px;
    display: inline-flex;
    list-style-type: none;
}

#footer-grid {
    display: grid;
    flex-grow: 4;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 24px;
    padding: 36px 0 36px 64px;
}

#footer-grid > ul {
    list-style-type: none;
    height: fit-content;
    font-family: var(--font);
    color: var(--subtextColor);
}

#footer-grid > ul > li:nth-child(1) {
    font-size: var(--subtextFontSize);
    color: black;
    margin: 0 0 16px 0;
}

#footer-grid > ul > li:not(:last-child) {
    margin: 0 0 12px 0;
}