body {
    font-family: "Gill Sans";
    background-color: bisque;   
    color: black;
    line-height: 20px;
    font-weight: lighter;
}

header {
    color: darkblue;
}

h1, h2 {
    font-weight: bolder;
}

a {
    text-decoration: wavy;
    color: red;
}

a:hover {
    color: green;
}